node_modules/
bin/
dist/
build/
public/
newman/
.idea
.vscode
.DS_Store
.#*

__pycache__/
.envrc
.idea/
.venv/

# Misc
!.gitkeep
*.orig

# Python
__pycache__
*.pyc
.mypy_cache
.python-version
.venv/
env
**/.pytest_cache/

# Big binaries
*.bz2
*.gz
*.jar
*.tar.gz
*.tgz
*.zip

smoketest-report.xml
e2e-report.xml
reports/tests/sandbox.xml

# ignore any potential keys
*.key*
