# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Innunisation History API
# owned by NHS Digital (https://digital.nhs.uk/)
openapi: "3.0.0"
x-nhs-api-spec-guid: 1b22efff-7b41-4fa0-9146-dc87686a7b5c
info:
  version: 1.0.0
  title: Immunisation History - FHIR API
  license:
    name: MIT
  contact:
    name: NHS Digital API Management
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
  description: |
    ## Overview
    Use this API to access a patient’s immunisation history.

    You can:
    - get a patient's coronavirus (COVID-19) immunisation history, based on their NHS number

    You cannot currently use this API to:
    - get details of other types of immunisation
    - get the immunisation history for a specific date range

    You get the following data:
    - immunisation event details
    - patient demographic details, as captured at the point of immunisation

    The patient demographic details might differ from those held in the [Personal Demographics Service (PDS)](https://digital.nhs.uk/services/demographics).
    To get demographic details from PDS, use the [Personal Demographics Service FHIR API](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir).
    
    Details on how quickly the data is available after the vaccination event are to follow.

    ## Who can use this API
    
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development.
    To do this, [contact us](https://digital.nhs.uk/developer/help-and-support).

    You must do this before you can go live (see ‘Onboarding’ below).
    
    ## API status and roadmap    
    
    ### Status
    This API is in alpha, meaning:
    - it is available for testing but not yet for production use
    - we might make breaking changes
    
    If you would like to be involved in our beta programme, [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    ### Roadmap
    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?tag=immunisation-history-api).

    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    It also conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, and use US spellings, for example `/Immunization` not `/immunisations`
    - array names are singular, for example `entry` not `entries` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.
    
    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    
    ## Security and authorisation
    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning we authenticate the calling application but not the end user.
    
    Specifically, it uses the following security pattern:
    - [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication)

    Note that:
    - the end user must be a citizen
    - the calling application must strongly authenticate the end user using NHS login
    - specifically, the end user must have their identity verified to 'high' (P9) level
    - the calling application must pass the user's NHS login identity token in the `NHSD-User-Identity` header when calling the API
    - the NHS number in the identity token must match the NHS number for which data is being requested

    ## Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/immunisation-history/FHIR/R4/`     |
    | Integration test  | Not yet available                                                      |
    | Production        | Not yet available                                                      |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.
    
    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.

    Details to follow.
servers:
  - url: 'https://sandbox.api.service.nhs.uk/immunisation-history/FHIR/R4'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/immunisation-history/FHIR/R4'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/immunisation-history/FHIR/R4'
    description: Production environment.
paths:
  /Immunization:
    get:
      summary: Get immunisation history
      operationId: get-immunisation-history
      description: |
        Given an NHS number, get the patient's immunisation history.
        Also returns the patient's demographic details, as captured at the point of immunisation.
        
        ## Sandbox testing
        You can test the following scenarios in our sandbox environment:
        
        | Scenario                      | Request                                                      | Response                                   |
        | ----------------------------- | ------------------------------------------------------------ | ------------------------------------------ |
        | Immunisation details found    | `patient.identifier`=`9000000009`                            | HTTP Status 200 with immunisation data in response body    |
        | No immunisation details found | `patient.identifier`= anything else                          | HTTP Status 404 with problem description in response body  |

        You can try out the sandbox using the 'Try this API' feature on this page.
        
      parameters:
        - name: patient.identifier
          in: query
          description: |
            The patient's NHS number.
            Expressed as `<type>|<value>` where `<type>` must be `https://fhir.nhs.uk/Id/nhs-number` and `<value>` must be a [valid NHS number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp)
          required: true
          schema:
            type: string
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"
        - name: code:below
          in: query
          description: |
            Parent SNOMED immunisation procedure code.
            Must be `90640007`, which is the parent code for all COVID-19 vaccinations.
          required: true
          schema:
            type: string
            example: "90640007"
        - name: Authorization
          in: header
          description: |
            An OAuth 2.0 bearer token, obtained using our [signed JWT authentication pattern](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
          required: true
          schema:
            type: string
            format: '^Bearer\ [[:ascii:]]+$'
            example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'            
        - name: NHSD-User-Identity
          in: header
          description: |
            Open ID Connect ID token for the end user, as obtained from NHS login.
          required: true
          schema:
            type: string
        - name: X-Correlation-ID
          in: header
          required: false
          description: |
            An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
      responses:
        '200':
          description: Information successfully found and returned.
          headers:
            X-Correlation-Id:
              $ref: components/schemas/XCorrelationId.yaml
          content:
            application/fhir+json:   
              schema:
                $ref: "components/schemas/Bundle.yaml"
              example:
                $ref: "components/examples/Immunization.json"
        '4XX':
          description: |
            An error occurred as follows:
            
            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | TBC         | TBC	                       | TBC |
            
          content:
            application/fhir+json:
              schema:
                $ref: 'components/schemas/OperationOutcome.yaml'
              example:
                $ref: 'components/examples/OperationOutcome.json'
# components object must be present for spec rendering to work in Bloomreach, even if the spec has no components
components:
  parameters:
    Id:
      name: id
      in: path
      description: The patient's NHS number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).
      required: true
      schema:
        type: string
        example: "9000000009"
    MessageId:
      name: message_id
      in: path
      description: The message ID of the accepted update that needs to be submitted to confirm the resource a successfully updated.
      required: true
      schema:
        type: string
        example: '20200522091633363041_000001A'
    ObjectId:
      name: object_id
      in: path
      description: A resource Object ID. The primary identifier of a resource.
      required: true
      schema:
        type: string
        example: "507B7621"
    IfMatch:
      in: header
      name: If-Match
      description: |
        Latest known version identifier enclosed in quotes preceded by `W/`.
        Send the value of the patient's `ETag` response header on patient retrieval when updating a patient.
        This is to ensure that any updates are applied against an up-to-date version of the patient resource.
      required: true
      schema:
        type: string
        pattern: "^W\/\"[0-9]+\"$"  # Printable characters enclosed in quotes. See: https://tools.ietf.org/html/rfc7230#section-3.2.6
        example: 'W/"2"'
    RoleId:
      in: header
      name: NHSD-Session-URID
      description: |
      
        The user role ID (URID) for the current session. Also known as a user role profile ID (URPID).
        For more details, see [determine the user’s role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-combined-authentication-and-authorisation#step-6-determine-the-user-s-role).
      
        Required for user-restricted access but optional for application-restricted access and for sandbox environment.
       
      required: false
      schema:
        type: string
        pattern: '^[0-9]+$'
        example: '555021935107'
    BearerAuthorization:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
        Required in all environments except sandbox.
      required: false
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'
    RequestID:
      in: header
      name: X-Request-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.
        
        Must be a universally unique identifier (UUID) (ideally version 4).
        Mirrored back in a response header.
        If you re-send a failed request, use the same value in this header.
        Required in all environments except sandbox.
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
        
        Mirrored back in a response header.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
  schemas:
    Patient:
      $ref: components/schemas/Patient.yaml
    PatientSearch:
      $ref: components/schemas/PatientSearch.yaml
    RelatedPerson:
      $ref: components/schemas/RelatedPerson.yaml
    OperationOutcome:
      $ref: components/schemas/OperationOutcome.yaml
  examples:
    OperationOutcome:
      summary: OperationOutcome example
      value:
        resourceType: OperationOutcome
        issue:
          - severity: error
            code: value
            details:
              coding:
                - system: 'https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode'
                  version: '1'
                  code: INVALID_RESOURCE_ID
                  display: Resource Id is invalid
